<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (message) { %>
    <p><%= message %></p>
    <% } %>
    <p>Welcome to <%= title %></p>
    <% if (!user) { %>
      <p>Welcome! Please <a href="/login">log in</a>.</p>
    <% } else { %>
      <p>Hello, <%= user.username %>.</p>
      <p><a href="/logout">Log out.</a></p>
    <% } %>
  </body>
</html>
