<% include ../head %>

<h1>Series detail</h1>

<h3><%= series.name %></h3>

<ul>
  <li><b>Location</b>: <%= series.location.name %></li>
  <li><b>Variable</b>: <%= series.variable.name %></li>
  <li><b>Date Span</b>: <%= series.datespan %></li>
</ul>

<div class="row">
  <div class="col-md-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < values.length; i++) { %>
        <tr>
          <td><%= values[i].datetime.toISOString() %></td>
          <td><%= values[i].value %></td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>

<pre><%= series %></pre>

<% include ../foot %>