<% include ../head %>

<h1>Location detail</h1>

<h3><%= location.name %></h3>

<ul>
  <li><b>Latitude</b>: <%= location.latitude %></li>
  <li><b>Longitude</b>: <%= location.longitude %></li>
  <li><b>State</b>: <%= location.state %></li>
</ul>

<h4>Associated Series</h4>

<% if (series && series.length == 0) { %>
<p>There are no series. Go <a href="/datasets/upload">add a dataset</a>.</p>
<% } else { %>
<ul>
  <% for(var i=0; i<series.length; i++) {%>
    <li><a href="/series/<%= series[i].id %>"><%= series[i].name %> | <%= series[i].datespan %></a></li>
  <% } %>
</ul>
<% } %>

<pre><%= location %></pre>

<% include ../foot %>